.redclass {
    background-color: #ffb6c1;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

.threeclass {
    font-size: 24px;
}

#blueid {
    color: #0000ff;
    font-size: 36px;
}

#greenid {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}
